@model direccion_evaluacion.Models.Item

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <nav class="navbar-inverse">

       <br /><br />
    </nav>
</div>
<div class="container">
    <br />
    <center>
        <h2> <i class="fa fa-user"> </i> <b>Eliminar Item</b></h2>
    </center>
    <br />



    <h3>¿Esta seguro que desea eliminar este item?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                <b>Nombre</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <dt>
                <b>Subtitulo</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Subtitulo.nombre)
            </dd>



            <dd>
                @Html.DisplayFor(model => model.direccion_archivo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="Eliminar" class="btn btn-success" />
                    </div>
                    <br /><br />
                    <div class="col-md-offset-1 col-md-10">
                        @Html.ActionLink("Regresar a items", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>

        }
    </div>
  

</div>