@model direccion_evaluacion.Models.Modelos

@{
    ViewBag.Title = "Subir Archivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    
  $('#listacoordinadores').addClass('active');
  
</script>

@if (ViewBag.AccionOk != "")
{
    <script>
        swal("Confirmación!", "@ViewBag.AccionOk", "success");
    </script>
}

<div class="row">
    <nav class="navbar-inverse">

       <br />
        <br />

    </nav>
</div>
<br>
<div class="container" >
    <br>
    <center>
        <h2> <i class="fa fa-user"> </i> <b>Administrar Archivos</b></h2>
    </center>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="table-responsive">
                @if (Model.ObjUsuario != null)
                {
                <table class="table table-bordered table-hover tabladireccion">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Datos del coordinador</th>
                            <th>Su mòdulo asignado es</th>
                          

                            <th>Subir archivos de la</th>
                        </tr>
                    </thead>
                    <!--<tfoot>
                        <tr>
                            <th>#</th>
                            <th>Apellido</th>
                            <th>Nombre</th>

                            <th>Opciones</th>
                        </tr>
                    </tfoot>-->
                    <tbody>

                        <!--Inicio de varibles paralos documentos -->
                        @{
                            int docu1 = 1;
                            int docu2 = 2;
                            int docu3 = 3;

                            int i = 0;
                        }
                        
                        <!--fin-->
                        @foreach (var item in Model.ObjUsuario )
                        {
                            i++;
                        
                        
                        <tr>
                            <td>@i</td>
                            <td>@item.apellido @item.nombre </td>
                            <td>
@foreach (var md in Model.ObjModuloD)
{
    foreach (var mod in Model.ObjModulo)
    {
        if (md.Modulo.id == mod.id && md.Docente.id + "" == Session["Id"].ToString())
        {
                                
                                    @mod.nombre


        }
    }
}
    
                            </td>
                           
    
                            <!--
                                <a class="btn btn-info"
                                    href="/MostrarFichas/Ficha1Mod1?nombre">
                                    <i class="fa fa-upload"></i>
                                </a>
                                -->

                            <td>
                                <select onchange="window.location.href=this.options[this.options.selectedIndex].value" name="elige" size="1">
                                    <option>-- Seleccionar Ficha --</option>
                                    @foreach (var md in Model.ObjModuloD)
                                    {
                                        foreach (var mod in Model.ObjModulo)
                                        {
                                            if (md.Modulo.id == mod.id && md.Docente.id + "" == Session["Id"].ToString())
                                            {
                                                foreach (var ficha in Model.ObjFicha)
                                                {
                                                    if (mod.id == ficha.Modulo.id)
                                                    {
                                                        <option value="/MostrarFichas/Ficha1Mod1?nombre=@ficha.nombre">@ficha.nombre</option>
                                                    }

                                                }
                                            }

                                        }

                                    }
                                </select>

                            </td>


                        </tr>
                        <!--
                        <script type="text/javascript">

                          var url1="<?php echo site_url('docentes/generar1')?>";
                             $.ajax({
                                   url:url1,
                                   type:'post',
                                   data:{
                                    idRes:'<?php echo $cor->id ;?>'
                                  },
                                  success:function(data){
                              var resultado=JSON.parse(data);

                                 $("#calificacion1<?php echo $cor->id ;?>").html(resultado);

                                  },
                                  error:function(err){
                                    alert('err');
                                  }
                              });


                        </script>
                        -->
                        }
                    </tbody>
                    
                </table>
                } else {
                     <div class="alert alert-danger">
                        <b>No existen datos</b>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script>
  $('.tabladireccion').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        language:{
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },


        "scrollCollapse": true,
        "paging":         true
  });

  var id = "";
  var arreglo = [];

  function buscarFichas(mySelect) {
      id = $(mySelect).attr("name");
      arreglo.push({ "id" : id });
  }
  $('.buscar').mousedown(function () {
      
      $.ajax({
          url: '/ModuloDocentes/getFichasDocentes',
          data: JSON.stringify(arreglo),
          method: 'post',
          dataType: 'json',
          success: function (result) {
              
              for (var i = 0; i < result.length; i++) {
                  console.log( result[i].nombre);
              }
          },
          error: function (error) {
              alert("No funciona");
          }
      });
  });
    
</script>

