@model direccion_evaluacion.Models.Modelos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
  $('#coordinador').addClass('active');
</script>

<div class="row">
    <nav class="navbar-inverse">
        <br />
        <br />  

    </nav>
</div>
<div class="container">

    <br>
    <center>
        <h2> <i class="fa fa-user"> </i> <b>Editar asignación de Módulo</b></h2>
    </center>
    <br>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ModuloDocente.rutaModulo, "Ruta del Modulo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="hidden" name="id" value="@Model.ModuloDocente.id"/>
                    <select name="rutaModulo">
                        <option value="@Model.ModuloDocente.rutaModulo">@Model.ModuloDocente.rutaModulo</option>
                        @foreach (var item in Model.ObjModulo)
                        {
                            var asignado = Model.ObjModuloD.FirstOrDefault(x => x.Modulo.id == item.id);
                            if (asignado == null)
                            {
                                <option value="/Modulos_Evaluacion/@item.nombre/">/Modulos_Evaluacion/@item.nombre/</option>
                            }
                        }
                    </select>

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ModuloDocente.Modulo, "Modulo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="moduloId">
                        <option value="@Model.ModuloDocente.Modulo.id">@Model.ModuloDocente.Modulo.nombre</option>
                        @foreach (var item in Model.ObjModulo)
                        {
                            var asignado = Model.ObjModuloD.FirstOrDefault(x => x.Modulo.id == item.id);
                            if (asignado == null)
                            {
                                <option value="@item.id">@item.nombre</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <!--<div class="form-group">
                @Html.LabelFor(model => model.ModuloDocente.Docente, "Docente", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input value="@Model.ModuloDocente.Docente.nombre @Model.ModuloDocente.Docente.apellido" readonly="readonly"/>
                </div>
            </div>-->

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
                <br> <br>
                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-danger" href="/Docentes"><b>Regresar a Docentes</b>
                    </a>
                </div>
            </div>
        </div>
    }

    </div>
